<div id="sas">
  <br><br>
  <br>
  <br>
<div id="login-container">
    <h3 style="color: white;">Admin Login</h3>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form [formGroup]="registerForm" (ngSubmit)="adminlogin()">

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="email-label">
                  <i class="fa fa-user-circle" aria-hidden="true"></i>
                </span>
              </div>
              <input type="text" placeholder="given in readme" id="email" formControlName="email" class="form-control"
              [ngClass]="{'is-invalid': submitted && f.email.errors}" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">
                Email is required.
              </div>
              <div *ngIf="f.email.errors.email">
                Email must be a valid one.
              </div>
            </div>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="password-label">
                  <i class="fa fa-key" aria-hidden="true"></i>
                </span>
              </div>
              <input type="password" placeholder="given in readme" class="form-control" id="password" formControlName="password"
              [ngClass]="{'is-invalid':submitted && f.password.errors}" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">
                Password is required.
              </div>
              <div *ngIf="f.password.errors.minlength">
                Minimum length is 4
              </div>
            </div>
            </div>

            <label class="container-checkbox">Remember My Account
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
            </label>

            <div class="text-center">
              <button type="submit" class="btn btn-customized">Login Account</button>
            </div>

          </form>
        </div>
      </div>
    </div>
</div>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br><br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
</div>