


  <!-- Navigation -->


  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">FREE LANCERS</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">A platform to find freelancing Photographers around you!</h2>
        <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Around the World</h2>
          <p class="text-white-50">You can find the proffessional freelance 
            <a href="/prolist">Photographers </a>here at one single page.</p>
        </div>
      </div>
      <!-- <img src="./assets/img/ipad.png" class="img-fluid" alt=""> -->
    </div>
  </section>

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="https://c1.wallpaperflare.com/preview/65/348/1021/smoke-camera-person-hand.jpg" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Time Saved</h4>
            <p class="text-black-50 mb-0">Stop wandering here n there in search of proffesionals.</p>
          </div>
        </div>
      </div>

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="http://getwallpapers.com/wallpaper/full/0/2/1/892994-popular-canon-wallpapers-3840x2160-full-hd.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Save Money</h4>
                <p class="mb-0 text-white-50">Pay mediators? Nah! avoid the extra expenditure.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="https://cdn.wallpapersafari.com/73/1/VrTU5N.jpg" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">In A Rush?</h4>
                <p class="mb-0 text-white-50">No Photographers availablle? Take look here for available one and feel free to contact!</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <section id="about" class="about-section text-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-white mb-4">Need to Register as a Proffesionals</h2>
              <p class="text-white-50">Send details in Given format  </p>
              <p class="text-white-50">Name</p>
              <p class="text-white-50">Organisation Name</p>
              <p class="text-white-50">Location</p>
              <p class="text-white-50">Wage</p>
              <p class="text-white-50">Years of Experience</p>
              <p class="text-white-50">Image</p>
              <p class="text-white-50">GDrive Link of your works</p>
              <p class="text-white-50">Send these to <br>surya133007@gmail.com <br> All fields are mandatory and will be verified!</p>
              




            </div>
          </div>
          <!-- <img src="./assets/img/ipad.png" class="img-fluid" alt=""> -->
        </div>
      </section>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">Anywhere in the World</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">surya133007@gmail.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">+91 88888 77777</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; localhost/4200 2019
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->

